/* SubNavbar.css */
.navbar {
  background-color: blue !important;
}
.btn-close{
  display:flex;
  justify-content: flex-end;
  margin-left: auto;

}
.titoloSub{
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color:white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}


.searchbar {
  padding-top:10px;
  padding-left: 10px;
  font-style: italic;
  text-align: center;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-popolari {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  max-width: 100%;
}

.title-popolari {
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px;
}

.columns {
  display: flex;
  justify-content: space-around; /* Distanzia equamente le colonne */
  width: 100%;
}

.column {
  width: 48%;
}

.link {
  display: block;
  margin-bottom: 10px; /* Spazio tra i link */
}


.title-inevidenza {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; /* Distanza tra il titolo e le colonne sottostanti */
}
.container-inevidenza {

  max-width: 6000px;
  margin: 20px auto;
  padding: 40px;
}
.offcanvas{
  max-height: 100vh;
  overflow-y: auto;
}
.offcanvas hr {
  border: 1px solid #000000;
  margin: 10px 0;
}
