.review-grid {
  display: grid;
  grid-template-columns: 4fr 1fr; /* Suddivide lo spazio in due colonne, la prima più larga */
  grid-template-rows: repeat(4, min-content);  gap: 16px;
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(237, 244, 247);
}

.item-review {

  padding: 20px; /* Padding interno */
  display: flex;
  align-items: center;
  border-top: 1px solid gray;
}


.left-top {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
}




.text1Review hr {
  margin-top: 3px;
  margin-bottom: 0;
  color: grey;
  border:1px;
  opacity: 1;
}
ReviewTitle hr{
  margin-top: 1px;
  margin-bottom: 0;
  color: grey;
  border:1px;
  opacity: 1;
}

.text1Review h3 {
  font-size: 15px;
  color: black;
  padding: 0;
  margin: 0;
}

.text1Review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 1px grey;
}
.text1Review .first-row-review {
  padding-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.image-profile-review {
  flex-shrink: 0;
  margin-right: 10px;
}
.image-profile-review img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.text1Review .di{
  padding-top: 10px;
  text-align: left !important;
  padding-left: 5px;
}

.di p {
  color: blue !important;
  margin-bottom: 10px !important;
  margin-right:0 !important;
  margin-top: -20px!important;
  text-align: left !important;

}

.EconomyTitle {
  background-color: #6d9cb3;
  text-align: center;
  padding: 20px 0;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: flex-start; /* Allinea gli elementi all'inizio */

}
.EconomyTitle h1{
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  width:100%;
}

.right {
  padding: 2px;
  grid-column: 2;
  display: flex;
  grid-row: 1 / 5;

  align-items: flex-start;
  border-left: gray 1px solid;
  flex-direction: column;
  align-self: start;
}
.ReviewTitle{
  width: 100%;
  background-color: transparent;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color:white;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid grey;
}
.ReviewTitle h4{
  width: 100%;
  text-align: center;
  margin-top: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size:12px;
  color:grey;
}

.text1Review h3{
  width: 100%;
  text-align: left;
  font-size: 15px;
  color: black;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 4px;


}

.text1Review p{
  padding-top: 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}
.bi-chat-left-quote{
  margin-right:2px;
  margin-left:2px;
}

@media (max-width: 900px) {
  .review-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .item-review {
    flex-direction: column;
    align-items: center;
  }

  .image-wrapper, .img-news {
    width: 100%;
    text-align: center;
    order:2;
  }

  .content {
    padding-left: 0;
    order:1;
    text-align: left;
  }
  .content h4, .content p, .di p {
    width: 100%;
  }
  .right{
    display: none;
  }
}
